<section class="game-with-chances">
  <div class="game-with-chances--container">
    <button class="game-with-chances--container-btn" (click)="restartGame()">
      New game
    </button>
    <div class="game-with-chances--container-flex">
      <p class="game-with-chances--container-flex-score">
        Current score: {{ score }}
      </p>
      <p class="game-with-chances--container-flex-score">
        Your highest score: {{ highestScore }}
      </p>
    </div>
    <img
      class="game-with-chances--container-img"
      src="{{ randomImage.message }}"
      alt=""
    />
    <ul id="list" class="game-with-chances--container-list">
      @for (breed of fourBreeds; track $index) {
      <li
        (click)="onClick(breed.toString())"
        [class.disabled]="failed === true"
        class="game-with-chances--container-list-ans"
      >{{ breed.toString() | titlecase }}</li>
      }
    </ul>
  </div>
</section>
